@model RegisterViewModel
@{
    Layout = "/Views/Shared/_LayoutLogin.cshtml";
}


<form class="form-signin" asp-action="Register">
    
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div asp-validation-summary="ModelOnly">
        <span>Please correct the following errors</span>
    </div>

    
    <input asp-for="Name" type="text" id="Name" class="form-control" placeholder="Name" required autofocus>
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />
   
    <input asp-for="Surname" type="tel" id="Surname" class="form-control" placeholder="Surname" required autofocus>
    <span asp-validation-for="Surname" class="text-danger"></span>
    <br />
    
    <input asp-for="Mail" type="email" id="Mail" class="form-control" placeholder="Email address" required autofocus>
    <span asp-validation-for="Mail" class="text-danger"></span>
    <br />
    
    <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <span asp-validation-for="Password" class="text-danger"></span>
    <br />
    
    <input asp-for="RePassword" type="password" id="inputPassword2" class="form-control" placeholder="Password" required>
    <span asp-validation-for="RePassword" class="text-danger"></span>
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button> 
    <div class="row">
        <a class="mt-2" asp-action="Index">Login</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 
